
header#header { background-color: var(--background); box-shadow: 0 0 3px rgba(0,0,0,0.3); height: var(--header-height); position: sticky; top: 0; width: 100%; z-index: 100; }
header#header.open-menu { box-shadow: none; transition-delay: 0.1s; }

header#header .inner { align-items: center; display: flex; justify-content: space-between }

header#header .title { font-size: 36px; font-weight: 700; }

header#header nav { height: 100%; left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); }
header#header nav > ul { display: flex; flex-direction: row; height: 100%; gap: 10px; }
header#header nav > ul > li { position: relative; }
header#header nav > ul > li > a { align-items: center; display: flex; font-weight: 600; height: 100%; padding: 0 20px; position: relative; transition: width var(--header-transition); }
header#header nav > ul > li > a::after { background-color: var(--default-fs-color); bottom:0; content: ""; height: 2px; left: 50%; position: absolute; transform: translateX(-50%); transition: var(--header-transition); width: 0; }
header#header nav > ul > li > a:hover::after { width: 100%; }

.header-utils button { height: 40px; position: relative; width: 40px; }
.header-utils .mode::after { background: url("/images/common/light_mode.svg") center no-repeat; content:""; height: 24px; left: 50%; position: absolute; top: 50%; transform: translate(-50%,-50%); width: 24px; }

.nav-sub { background-color: var(--background); box-shadow: 0 0 3px rgba(0,0,0,0.3); left: 0; position: fixed; padding-top: var(--header-height); top: -100%; transition: 0.3s; text-align: center; width: 100%; z-index: 99; }
.nav-sub.drop { top: 0; }
.nav-sub ul { display: none; height: 100%; padding: 20px 0; }
.nav-sub ul.active { display: inline-block; }
.nav-sub ul li { display: inline-block; padding: 0 10px}
.nav-sub ul li a:hover { opacity: 0.5; }

.dark header#header { border-bottom: 1px solid #E9E9E9; box-shadow: none; }
.dark header#header.open-menu { border-bottom: none; }
.dark .nav-sub { border-bottom: 1px solid #E9E9E9; box-shadow: none; }
.dark .header-utils .mode::after { background: url("/images/common/dark_mode.svg") center no-repeat; }