
#container { min-height: 100vh; }
.inner { height: 100%; margin: 0 auto; max-width: 1440px; position: relative; width: 100%; }
svg { height: 100%; width: 100%; }



.list { display: flex; gap: 20px; padding: 50px; }
.list .column { border: 1px solid #171717; padding: 15px; width: fit-content }
.list .column ol { display: flex; flex-direction: column; gap: 10px; }
.card { /*background-color: var(--grayish-black);*/ border: 1px solid #171717; cursor: pointer; display: block; }
.card.dragging .in-drag { opacity: 0; }
.card.asd { background-color: red }

[draggable="true"] {
  cursor: pointer;
}


.toast-item { align-items: center; background-color: #FFF; border-radius: 5px; box-shadow: 0 0 15px 0 rgba(0,0,0,0.15); display: flex; left:50%; justify-content: center; min-height: 50px; opacity: 0; overflow: hidden; position: fixed; padding-left:8px; top:0; transform: translate(-50%,0); transition: var(--toast-duration); transition-delay: var(--toast-delay); text-align: center; width: 200px; z-index: 999; }
.toast-item::before { background-color: blue; content:""; height: 100%; left:0; position: absolute; top:0; width: 8px; }

.toast-item.top { top:20px; }

.toast-item.init { opacity: 1; top: 50px }


.toast-item .toast-close { position: absolute; top: 5px; right: 5px; width: 14px; height: 14px; }

