@import "globals.css";
@import "header.css";
@import "style.css";
@import "dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

header#header {
    @apply transition-transform duration-500
}

header#header.hide {
    @apply -translate-y-full
}

.drop-item.draggable {
    @apply relative;

    @apply after:block after:content-['']
        after:w-[var(--drop-item-width)]
        after:h-[var(--drop-item-height)]
        after:invisible;
}

.drop-item .in-item {
    @apply pointer-events-none;
}

.drop-item.draggable .in-item {
    background-color: inherit;
    border: inherit;
    border-radius: inherit;
    @apply fixed
}

